
.todo-item
{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    padding: 5px 30px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
    border-radius: 10px;
    
    
}

.task
{
margin: auto 0;
}
.del-btn
{
  margin: auto 0;
}
.edit
{
  display: flex;
  justify-content: end;
  align-items: center;
}